

.Normal {
    background-color: #bfbfbf;
}
.Combat {
    background-color: #d87c58;
}
.Vol {
    background-color: #999ade;
}
.Poison {
    background-color: #925192;
}
.Sol {
    background-color: #dea761;
}
.Roche {
    background-color: #897864;
}
.Insecte {
    background-color: #b1c967;
}
.Spectre {
    background-color: #c195dc;
}
.Acier {
    background-color: #49769c;
}
.Feu {
    background-color: #cf1414;
}
.Eau {
    background-color: #1689de;
}
.Plante {
    background-color: #47a047;
}
.Electrique {
    background-color: #e6b700;
}
.Psy {
    background-color: #fa43b8;
}
.Glace {
    background-color: #98c3de;
}
.dragon {
    background-color: #89315d;
}
.Tenebre {
    background-color: #282433;
}
.Fee {
    background-color: #dca0ce;
}

